html {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

#container {
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin: 1em 0em 1em 0em;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0em 1em 0em;
}

li {
  margin: 0.5em 0em 0.5em 0em;
}
